<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action='/team' method="POST" >
     Team Name:
     <input type="text" placeholder="name" name="name">Coach<br>
     Coach:<input type="text" placeholder="" name="coach">Coach<br>
     Point Guard:<input type="text" placeholder="" name="pg">Coach<br>
     Shooting Guard:<input type="text" placeholder="" name="sg">Coach<br>
     Power Forward:<input type="text" placeholder="" name="pf">Coach<br>
     Small Foward:<input type="text" placeholder="" name="sf">Coach<br>
     Center<input type="text" placeholder="" name="c">Coach<br>
     <input type="submit" value="submit">


   </form>
 </body>
</html>
